<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="debugPath" value="absolute-path-to-arduino\hardware\arduino\avr\boards.txt" />
    </appSettings>
</configuration>